# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Secrets
.env
.env.*
/keys/
*.json     # If you ever use service account JSON locally (recommended ignore)

# Local backup folders
/backups/
templates/backups/

# Editor backup files
*~
*.swp
*.swo

# Git folders (never needed in Docker)
.git/
.gitignore
.gitattributes

# Things not needed in Docker image
tests/
docs/
README.md