name: Deploy Sigma14

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: cds-web-484903
  REGION: us-central1
  SERVICE: sigma14
  REPOSITORY: sigma14-prod
  IMAGE: web
  CLOUDSDK_CORE_LOG_HTTP: true

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/656157992840/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: cds-web-deploy@cds-web-484903.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }} \
            --push .
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }} \
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --set-env-vars "SMTP_SERVER=${{ vars.SMTP_SERVER }},SMTP_PORT=${{ vars.SMTP_PORT }},SMTP_USER=${{ vars.SMTP_USER }},CONTACT_RECEIVER=${{ vars.CONTACT_RECEIVER }}" \
            --update-secrets \
                SMTP_PASSWORD=smtp-password:latest